<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- DO #1 - Use a loop to display job results in a table. -->
    <table th:each="eachJob : ${jobs}" class="job-listing">
        <tbody>
        <tr>
            <th scope="row">ID</th>
            <td th:text="${eachJob.getId()}"></td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td th:text="${eachJob.name}"></td>
        </tr>
        <tr>
            <th scope="row">Employer</th>
            <td th:text="${eachJob.employer}"></td>
        </tr>
        <tr>
            <th scope="row">Location</th>
            <td th:text="${eachJob.location}"></td>
        </tr>
        <tr>
            <th scope="row">ID</th>
            <td th:text="${eachJob.getId()}"></td>
        </tr>
        <tr>
            <th scope="row">Position Type</th>
            <td th:text="${eachJob.positionType}"></td>
        </tr>
<!--        If skills section selected, include skills row-->
        <tr th:if="${skillsRow}">
            <th scope="row" th:text="${selector}"></th>
            <td th:text="${value}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>